<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ACNginxConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
    <userSettings>
        <ACNginxConsole.Properties.Settings>
            <setting name="LastComputer" serializeAs="String">
                <value />
            </setting>
            <setting name="NUffmpeg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Norestart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fulltest" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseProtection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseYouget" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StoreTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="WinOpac" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DanmuOpac" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WinBack" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="DanmuFore" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="HoverTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxFontSize" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="LayerNum" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MaxBlur" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ScaleFac" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="InitTop" serializeAs="String">
                <value>0.333</value>
            </setting>
            <setting name="ForeFont" serializeAs="String">
                <value>Microsoft YaHei UI</value>
            </setting>
            <setting name="BubbleColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="Regex" serializeAs="String">
                <value />
            </setting>
            <setting name="DanmuStyle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LowMoni" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TranSec" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OpenNetworkCaching" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SysTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SmartPA" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="danmuLink" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SizeMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SurfaceDial" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SubBasel" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="SubAlways" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BottomBarAuto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GiftGivingNum" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GiftGivingCond" serializeAs="String">
                <value />
            </setting>
            <setting name="GiftGivingShow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WCInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WCMaskAdd" serializeAs="String">
                <value />
            </setting>
            <setting name="WCAutoGen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WCColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WCVol" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="UpperRight" serializeAs="String">
                <value>直播</value>
            </setting>
            <setting name="SyncMute" serializeAs="String">
                <value>False</value>
            </setting>
        </ACNginxConsole.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Vlc.DotNet.Core" publicKeyToken="84529da31f4eb963" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Vlc.DotNet.Core.Interops" publicKeyToken="84529da31f4eb963" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
