<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ACNginxConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
    <userSettings>
        <ACNginxConsole.Properties.Settings>
            <setting name="LastComputer" serializeAs="String">
                <value />
            </setting>
            <setting name="NUffmpeg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Norestart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fulltest" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseProtection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseYouget" serializeAs="String">
                <value>False</value>
            </setting>
        </ACNginxConsole.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Vlc.DotNet.Core" publicKeyToken="84529da31f4eb963" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Vlc.DotNet.Core.Interops" publicKeyToken="84529da31f4eb963" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
